body {
    padding-top: 60px;
    padding-bottom: 40px;
}

hr {
    float: left;
    width: 100%;
}

.sidebar-nav {
    padding: 9px 0;
}

.chart-container {
    min-height: 450px;
}

.zoom-group {
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}

.chart {
    height: 350px;
    margin-top: 35px;
    width: 100%;
    float: left;
}

.trades-well {
    margin-top: 10px;
}

.trades-well table td {
    text-align: center;
}

.trades-well table td:first-child {
    text-align: left;
}

.trades-well table td:last-child {
    text-align: right;
}

.trades-well table td.profit {
    color: green;
}

.trades-well table td.loss {
    color: red;
}

.trades-well table td.total {
    font-weight: bold;
}

.highcharts-input-container {
    display: none;
}

.highcharts-container {
    margin-top: -25px;
}