html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #FFF;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

header {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 64px;
    font-weight: 400;
    display: none;
}

.noselect {
    -moz-user-select: none;
    cursor: default;
}

/* Disable the highlighted color on click in Android */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

#vlogger {
    position: absolute;
    z-index: 100;
    color: white;
    background: black;
    bottom: 0;
    padding: 10px;
    font-size: 2em;
}

#gradient {
    position: absolute;
    bottom: 0;    
    zoom: 1;
    width: 100%;
    height: 65%;    
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.4) 30%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 30%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 30%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 30%);
    background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.4) 30%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );

    /* 
    http://www.colorzilla.com/gradient-editor/#000000+0,000000+30&0+1,0.4+30;Custom
    */
}

#container {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

#spinnerWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.85);
    z-index: 2;
    display: none;
}

.touch #container {
    position: absolute;
}

.touch #spinner {
    position: relative;
}


#spinnerWrapper p {
    font-family: 'Sorts Mill Goudy', serif;
    color: rgba(163,188,204,.25);
    font-size: 40px;
    letter-spacing: 0.15em;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0;
    cursor: default;
}

#spinnerWrapper p.top {
    top: 23%;
    
}

#spinnerWrapper p.bottom {
    top: 60%;
    -moz-transform: rotate(180deg);
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#controls {
    position: relative;
    z-index: 1;
}

#panels {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000;
}

.panelWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    -webkit-transform-style: preserve-3d;
    
}

.panelCenter {
    position: relative;
    height: 100%;
    left: 50%;
    top: 50%;
}

.panelFrame {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background: white;
    /*border: 1px solid rgba(0, 0, 0, 0.6);*/
    padding: 20px;
}

.panelFrame .panelFront img {
    width: 100%;
    height: 100%;
    margin: 0;
    -moz-user-select: none;
}

.panelFrame .panelImg {
    display: none;
}

.panelTitle {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    border: 0px solid transparent;
    opacity: 100;
    text-align: center;
}

.panelTitle span {
    display: inline-block;
    /*font-family: 'Sorts Mill Goudy', serif;*/
    font-family: serif;
    font-size: 32px;
    font-weight: 400;    
    text-shadow: 0px 1px 0px rgba(255,255,255,.25);    
}

.panelFrame .panelBack {
    display: none;
    width: 100%;
    height: 100%;
}

/*
.offRight {
    display: none;
    margin-left: 100%;
}

.offLeft {
    display: none;
    margin-left: -100%;
}
*/


.offRight {
    display: none;    
    -webkit-transform: translate3d(100%,0,0);
}

.offLeft {
    -webkit-transform: translate3d(-100%,0,0);
}